@font-face {
  font-family: "Exocet Blizzard";
  src: url('/static/fonts/exocet-blizzard-medium.eot');
  src: url('/static/fonts/exocet-blizzard-medium.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/exocet-blizzard-medium.woff') format('woff'),
       url('/static/fonts/exocet-blizzard-medium.ttf')  format('truetype'),
       url('/static/fonts/exocet-blizzard-medium.svg#svgExocetReaper') format('svg');
}

@font-face {
  font-family: "Exocet Blizzard Light";
  src: url('/static/fonts/exocet-blizzard-light.eot');
  src: url('/static/fonts/exocet-blizzard-light.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/exocet-blizzard-light.woff') format('woff'),
       url('/static/fonts/exocet-blizzard-light.ttf')  format('truetype'),
       url('/static/fonts/exocet-blizzard-light.svg#svgExocetReaper') format('svg');
}

iframe {
    border:none;
}

.table tbody>tr>td{
    vertical-align:middle;
}

.navbar, h1, h2 {
    font-family: "Exocet Blizzard","Palatino Linotype", "Times", serif;
}

th {
    font-family: "Exocet Blizzardi Light","Palatino Linotype", "Times", serif;
}

.flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fa-toggle-off {
    color: #e74c3c;
}

.fa-toggle-on {
    color: #00bc8c;
}

.panel-footer {
    font-size: 8pt;
    font-family: "Inconsolata","Palatino Linotype", "Times", serif;
}
